.form-custom {
    background-color: orange;
    border-radius: 15px;
    margin-top: 10%;
    min-width: 300px;
    min-height: 250px;
    max-width: 60%;
    margin: 0px auto;
}

.form-custom input {
    display: block;
    margin: 2rem;
    padding: 1rem;
    width: 80%;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
      rgba(0, 0, 0, 0.1);
      background: #ebf5fc;
}

.form-custom button {
    display: block;
    border-radius: 15px;
    border: 0px solid;
    background-color: rgb(177, 163, 228);
    font-size: large;
    text-transform: uppercase;
    padding: 1rem;
    width: 100%;
}
